<!DOCTYPE html>
<html>
  <head>
    <title>Games List | Mech-AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p><a href="/">Home</a></p>

      <h1>Mech-AI</h1>

      <h2>{% if username %}{{ username }}'s games{% else %}All games{% endif %}</h2>


      <ul>
        {% for game in games %}
          <li><a href="/games/{{ game.id }}/">{{ game.created }}: {{ game.name }}</a>
          {% set comma = joiner(', ') %}
          [{% for player in game.players %}{{ comma() }}<a href="/games/{{player}}/">{{ player }}</a>{% endfor %}]</li>
        {% endfor %}
      </ul>

      <p><a href="/games/create/">Create new game</a></p>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
